page-gallery {
    .card {
        height:100px;
    }
    // img {
    //     height:  80px;
    // }
    
    .tit{
        font-size: 20px;
        color:  rgb(240, 125, 49); 
    }
    .tittt{
        font-size: 14px;
        color:  rgb(12, 12, 12); 
    }
    
    
}
