page-welcome {
   // .ro{
    //     background: rgb(206, 199, 192); 
    //   }
    .row {
        background: rgb(247, 109, 17); 
      }
      .content{
        background: rgb(247, 109, 17); 
    }
    .title{
        color:  rgb(240, 125, 49); 
    }
    
    .input{
        // border: 2px solid rgb(240, 125, 49);
        // background: rgb(252, 251, 250);
        border-radius: 8px;
        // box-shadow: 2px 3px rgb(228, 222, 222);
    
    }
    // .item{
    //   background: rgb(252, 251, 250);
    //   border-radius: 8px;
    //   box-shadow: 2px 3px rgb(228, 222, 222);
    // }
    .tit{
        color:  rgb(240, 125, 49);
        font-size: 20px;
    }
    .button{
        background: rgb(240, 125, 49);
        text-align: center;
        width: 120px;
    }
    
    .card{
    margin-left: 20px;
    margin-right: 20px;
    
    padding-bottom: 10%;  
    font-size: 14px;
    font-weight: 500;
    background: rgb(247, 246, 246);
    border-radius: 13px;
    width: 90%;
    height: 200%;
    
    }
    
      // 
    // Variables
    // ---------
    
    $shadow: #222b37;
    
    
    //
    // Demo-specific Styles
    // --------------------
    
    :root { 
      align-items: center;
      background: #7474BF; 
      background: linear-gradient(to right, #348AC7, #7474BF);
      display: flex;
      font-family: 'Work Sans', sans-serif;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
    
    
    //
    // Travel Card
    // -----------
    
    // Use this as a mixin if we plan on having backgrounds
    // for multiple locations
    @mixin travelCardLocation($background) { 
      background: url($background) no-repeat center center;
      background-size: cover;
    }
    
    // Styles
    .travelCard { 
    //   align-items: center;
      box-shadow: 0 25px 45px 0 rgba($shadow, .25);
      display: flex;
      height: 250px;
    //   justify-content: center;
      position: relative;
      width: 100%;
      
      &:before,
      &:after { 
        border-radius: 5px;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
      }
      
      &:after { 
        background: linear-gradient(45deg, 
          rgba($shadow, .3) 0%,
          rgba($shadow, 0) 100%);
      }
      
      // Locations
      &.-london { 
        &:before { 
          @include travelCardLocation('https://s3-us-west-2.amazonaws.com/s.cdpn.io/174608/photo-1513635269975-59663e0ac1ad.jpeg');
        }
      }
      
      // Skeleton layout
      &.-skeleton { 
        background-repeat: no-repeat;
        
        //   linear-gradient(white 93px, transparent 0), // title
        //   linear-gradient(lightgrey 100%, transparent 0); // card bg
        background-size:
          259px 93px, // title
          100% 100%;  // card bg   
        background-position:
          50% 90px, // title
          100% 100%;  // card bg
        border-radius: 5px;
        
        .travelCard-info { 
          background-repeat: no-repeat;
        //   background-image: 
        //     linear-gradient(lightgrey 20px, transparent 0), // country
        //     linear-gradient(lightgrey 20px, transparent 0), // area
        //     linear-gradient(lightgrey 20px, transparent 0); // population
          background-size: 120px 20px;
          background-position:
            10% 70px, // country
            52% 70px, // area
            94% 70px; // population
        }
        
        .travelCard-button { 
          opacity: 0;
        }
      }
    }
    
    .travelCard-container { 
      height: 100%;
      width: 100%;
      background-image: url("../assets/imgs/par11.jpeg");
      background-position: center;
    
     
    
    }
    
    .travelCard-location { 
      margin-bottom: 75px;
      margin-top: 90px;
      text-align: center;
    }
    
    .travelCard-location-name { 
      background-color: rgba(white, .2);
      border: 8px solid white;
      color: white;
      display: inline-block;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1; 
      margin-bottom: 0;
      margin-top: 0;
      padding: 18px 30px;
      text-transform: uppercase; 
      text-shadow: 1px 1px 0 rgba($shadow, .25);
    }
    
    .travelCard-info { 
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 5px 25px 0 rgba($shadow, .2);
      display: flex;
      justify-content: space-between;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 30%;
      padding-bottom: 120%;
      padding-top: 45px;
     
    }
    
    .travelCard-info-details { 
      width: 100%;
      
      &:not(:last-of-type) { 
        border-right: 1px solid #e0e0e0;
      }
    }
    
    .header .col {
      background-color:lightgrey;
      height: auto;
       
    }
    
    .table{
      border:1px solid #222b37;
      border-radius: 10px;
    }
    .td{
      height: 20px;
    }
    .col{
      border: 1px solid #2e2e2e;
    }

}
