page-fristpage {

    .content{
        background: rgb(75, 82, 177); 
    }
    .ca{
        margin-top: 50%;
    }
    .button{
        background: rgb(78, 49, 209);
        text-align: center;
        width: 150px;
    }
    .tit{
        color: aliceblue;
        font-size: 40px;
    }


}
